[Unit]
Description=Binary Clock
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/LinuxServerModEmbedded/binaryClock.py
Restart=on-abort

[Install]
WantedBy=multi-user.target